<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>HackSquad</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap.min.css" rel="stylesheet">
<link href="/fa/css/all.min.css" rel="stylesheet">
<link href="/bootstrap-toggle.min.css" rel="stylesheet">
<link href="/mdb.min.css" rel="stylesheet">
<link href="/button-style.css" rel="stylesheet">
<link href="/search-bar.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">

<script src='https://www.google.com/recaptcha/api.js'></script>
