<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>HackSquad</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/fontawesome/css/all.css" rel="stylesheet">
<link href="/vendor/bootstrap-toggle.min.css" rel="stylesheet">
<link href="/vendor/mdb.min.css" rel="stylesheet">
<link href="/button-style.css" rel="stylesheet">
<link href="/search-bar.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="/style.css" rel="stylesheet">

<script src='https://www.google.com/recaptcha/api.js'></script>
