<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>HackSquad</title>

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/fontawesome/css/all.css" rel="stylesheet">
<link href="/vendor/bootstrap-toggle.min.css" rel="stylesheet">
<link href="/vendor/mdb.min.css" rel="stylesheet">
<link href="/button-style.css" rel="stylesheet">
<link href="/search-bar.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">

<script src='/vendor/grecaptcha-api.js'></script>
