.btn{
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: #00e500 !important;
}
.btn:hover{
  background-color: #343a40 !important;
  border-color: #00e500 !important;
  color: #00e500 !important;
}