<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <link href="/landing-page.css" rel="stylesheet">
</head>

<body>
<% include ../partials/login-register-header %>
<div class="container-fluid about-container-top">
    <div class="row px-lg-0 px-sm-5 px-0 pt-0 pt-lg-4">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mt-0 mt-lg-5 ">
            <h1 class="d-none d-md-block mt-5 text-center text-white">What is HackSquad?</h1>
            <h3 class="d-block d-md-none mt-5 text-center text-white">What is HackSquad?</h3>
            <p class="d-none d-md-block lead text-justify text-white">HackSquad is a web platform designed for people who want to test
                their programming knowledge or to put an idea into action. HackSquad aims to create a connection between
                two or more people, be them programmers, designers or very creative people. The platform provides the
                ability to search for people in order to build a project or participate in a Hackaton, unlike similar
                platforms which only support the creation of projects.</p>
            <p class="d-block d-md-none text-justify text-white">HackSquad is a web platform designed for people who want to test
                their programming knowledge or to put an idea into action. HackSquad aims to create a connection between
                two or more people, be them programmers, designers or very creative people. The platform provides the
                ability to search for people in order to build a project or participate in a Hackaton, unlike similar
                platforms which only support the creation of projects.</p>
        </div>
    </div>
    <div class="row px-lg-0 px-sm-5 px-0 pt-0 pt-lg-1 pb-3 pb-lg-4">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mt-0 mt-lg-1 mb-3 mb-lg-4">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4">
                    <div class="card h-100 bg-transparent">
                        <div class="card-body">
                            <h2 class="card-title text-white">Projects</h2>
                            <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6  mb-4">
                    <div class="card h-100 bg-transparent">
                        <div class="card-body">
                            <h2 class="card-title text-white">Hackatons</h2>
                            <p class="card-text text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur
                                ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id
                                dolore voluptates quos eligendi labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-lg-0 px-5 pb-5">
        <div class="col-xl-6 col-lg-8 col-12 mx-auto mb-0 mb-lg-5 pb-5 pb-md-0">
                <div class="content mt-5 pb-5 pb-md-0" id="get_started_button">
                    <svg id="more-arrows">
                        <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "></polygon>
                        <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "></polygon>
                        <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "></polygon>
                    </svg>
                </div>
            <!--<button class="btn btn-block btn-lg btn-rounded get-started-button" id="get_started_button">Get Started</button>-->
        </div>
    </div>
</div>
<section class="container" id="getting_started_section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur cum doloremque dolores ducimus error
        eum, itaque molestias necessitatibus, neque perspiciatis possimus quam quia quibusdam quidem quos reiciendis
        veniam voluptates.</p>
    <p>Autem commodi dicta eos est impedit iusto laboriosam nobis quidem, ratione! A deleniti deserunt doloribus dolorum
        ducimus est itaque maxime natus numquam, quidem similique suscipit vero, voluptatem! Fugit in, repudiandae.</p>
    <p>Amet dolores eaque, eius eveniet facilis fugiat itaque iure laudantium libero molestiae nihil repudiandae rerum.
        Esse ipsa iste laboriosam obcaecati odit perferendis porro quasi voluptate. Accusantium earum maiores porro
        recusandae!</p>
    <p>A animi cum eius, eos eum eveniet expedita fugit iusto minima pariatur possimus qui quos sunt unde voluptates?
        Accusamus cum dolor dolores et illo impedit laboriosam laudantium magnam mollitia unde?</p>
    <p>Accusantium aliquid officia perspiciatis sint voluptas? Accusamus adipisci aspernatur beatae, consequatur cumque
        cupiditate dignissimos distinctio doloribus dolorum fugiat id inventore magnam nisi nobis odit officiis quasi
        sapiente soluta tempore tenetur.</p>
    <p>Alias aliquam blanditiis consequuntur dolorem eius fuga incidunt inventore, mollitia nam optio placeat recusandae
        repudiandae voluptatem. Accusamus, assumenda vitae? Aperiam aspernatur corporis debitis ducimus eveniet mollitia
        porro ullam voluptatum! Modi.</p>
    <p>Blanditiis labore optio quis repellendus sit! Alias aut autem explicabo ipsam, itaque iusto laborum minus
        mollitia non officia praesentium quos tenetur voluptatem? Accusamus enim et id mollitia pariatur soluta
        voluptatum.</p>
    <p>Autem cupiditate eos facere laudantium maiores minima, neque nesciunt perferendis saepe! Aliquam aliquid deserunt
        et inventore ipsa iure quae quibusdam ut. Ducimus ex iusto modi quas quibusdam, repudiandae sapiente
        voluptatum?</p>
    <p>Adipisci amet architecto delectus eaque explicabo laborum ratione sed, veniam! Dolorem et excepturi fuga ipsa
        itaque iusto, laborum minus non officiis quo sint unde velit vero. Inventore maiores modi numquam.</p>
    <p>Cumque, earum error eum facere ipsa itaque iusto libero molestias nihil odio officiis recusandae repellendus. Ad
        autem blanditiis fuga iure magni, numquam pariatur quae quaerat similique sit suscipit unde ut.</p>
    <p>Animi, assumenda at aut delectus dicta dolor eius explicabo facere fugiat ipsa, labore laboriosam minus molestiae
        molestias neque odit quidem quis quod sed similique sit ut voluptate voluptatibus? Aperiam, quae.</p>
    <p>Ad aspernatur atque blanditiis deleniti dicta doloremque eaque eligendi facere ipsam magni maxime nam neque nobis
        nulla omnis optio pariatur perferendis praesentium provident quidem repellat temporibus, ullam ut velit
        voluptatem!</p>
    <p>A animi architecto consectetur cupiditate debitis delectus, deleniti dolorem ea est ex id illo in ipsam iste
        iusto maxime nulla placeat quae quas quibusdam saepe sint sit sunt veritatis voluptatibus!</p>
    <p>Alias amet aperiam at, cumque debitis delectus dolorem doloremque eaque et impedit inventore minus modi neque
        nihil nostrum quae quod repellendus sed sequi soluta, ullam unde velit voluptate voluptates voluptatum?</p>
    <p>Dolores quia ut velit! Aliquam, amet dolore dolorum eaque exercitationem hic minus, nobis odio officiis possimus
        quasi quibusdam quisquam vitae. Aliquam harum, itaque. Consequatur dolore, itaque maiores molestiae officiis
        optio.</p>
    <p>Architecto aut consequatur enim ipsum, neque perferendis sed ullam? Accusantium asperiores consequatur, cumque
        dolor ea fugiat fugit inventore ipsa officiis perspiciatis porro quae quia reprehenderit sapiente sint
        temporibus vel? Nobis.</p>
    <p>Ab consequuntur fugiat inventore iste itaque, laborum molestias officiis praesentium quibusdam quidem repellat
        tempore vel, voluptas. Blanditiis eos eum excepturi nulla, quisquam tempore temporibus. Delectus expedita labore
        mollitia similique voluptates?</p>
    <p>Animi aperiam aspernatur culpa cum eius fugit, hic id, incidunt, inventore molestias natus nulla obcaecati
        perspiciatis porro quod similique voluptatibus. Assumenda harum laboriosam laudantium magnam neque possimus qui
        ullam voluptates?</p>
    <p>Adipisci consequuntur dicta earum eos, excepturi expedita, illo itaque iusto odit possimus provident quos
        suscipit. Ad adipisci cum, deserunt doloribus excepturi explicabo hic illum impedit labore nesciunt nisi, sunt,
        vel!</p>
    <p>Autem blanditiis consequatur delectus deleniti dicta dolorem eius esse eveniet excepturi id incidunt ipsum iure,
        modi neque nesciunt non nulla officia officiis perferendis, quasi sed sit totam! Adipisci, necessitatibus,
        vero!</p>
</section>

<% include ../partials/footer.ejs %>
<script>
    $(window).on("scroll load resize", function(){
        updateNavbar();
    });
    $("#get_started_button").on('click', () => {
        $('html,body').animate({
                scrollTop: $("#getting_started_section").offset().top - 50
            },
            800);
    });

    let updateNavbar = () => {
        let startY = $('.about-container-top').height()-55;
        if($(window).scrollTop() > startY){
            $('nav').addClass("bg-dark").removeClass('bg-transparent').removeClass('no-shadow');
        }else{
            $('nav').addClass("bg-transparent").removeClass('bg-dark').addClass('no-shadow');
        }
    }
</script>
<script>
    let user = $.cookie('username');
    if (user) {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/dashboard">Search <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/projects">Projects <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/teams">Teams <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/profile">Profile <i class="fas fa-cogs"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>');
    } else {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/dashboard">Search <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/register">Sign Up <i class="fas fa-user-plus"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>');
    }
</script>
</body>

</html>
