<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/header %>
    <form>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron" style="margin-top: 10px;">
              <h2><b>Tell Us About Your Project</b></h2>
              <div class="form-group">
                <label for="project Name">Project Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
              </div>
              <hr class="my-4">
              <div class="form-group">
                <label for="comment">Project Sumamary</label>
                <small id="summarise" class="form-text text-muted"><i class="fas fa-info-circle"></i>What does your company do? What have you accomplished thus far? What type of developer are you looking for? Why is this an awesome opportunity for developers? Be transparent and informative!</small>
                <textarea class="form-control" rows="5" id="summary"></textarea>
              </div>
            </div>
            <div class="jumbotron" style="margin-top: 10px;">
              <div class="form-group">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">What type of commitment are you looking for?</label>
                  <select class="form-control" id="commitmentLevel">
                    <option>Contractual</option>
                    <option>Part-time</option>
                    <option>Full-time</option>
                    <option>Co-founder</option>
                  </select>
                  <hr class="my-4">
                  <h4>Do you want to work with people within your country? <input type="checkbox" id="national" data-toggle="toggle"></h4>
                </div>
              </div>
              <hr class="my-4">
              <div class="form-group">
                <h4 id="platform">What Platform Will Your Project Be Built On?</h4>
                <div class="form-check form-check-inline">
                  <input class="btn btn-lg" style="width: 175px; height:75px; margin-bottom: 5px;" type="button" id="android" value="Andoird">
                </div>
                <div class="form-check form-check-inline">
                  <input class="btn btn-lg" style="width: 175px; height:75px; margin-bottom: 5px;" type="button" id="ios" value="iOS">
                </div>
                <div class="form-check form-check-inline">
                  <input class="btn btn-lg" style="width: 175px; height:75px; margin-bottom: 5px;" type="button" id="desktop" value="Desktop">
                </div>
                <div class="form-check form-check-inline">
                  <input class="btn btn-lg" style="width: 175px; height:75px; margin-bottom: 5px;" type="button" id="webFrontEnd" value="Web Front End">
                </div>
                <div class="form-check form-check-inline">
                  <input class="btn btn-lg" style=" width: 175px; height:75px; margin-bottom: 5px;" type="button" id="webBackEnd" value="Web Back End">
                </div>
              </div>
              <label for="comment"><i class="fas fa-info-circle"></i>More details on the specific skills</label>
              <textarea class="form-control" rows="5" id="platformDetails"></textarea>
            </div>
            <div class="jumbotron" style="margin-top: 10px;">
              <div class="form-group">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Current Stage of Project</label>
                  <select class="form-control" id="stage">
                    <option>Ideea Stage</option>
                    <option>Prototype Already Build</option>
                    <option>Live-version available</option>
                  </select>
                </div>
              </div>
              <hr class="my-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Project Budget Range</label>
                  <select class="form-control" id="budget">
                    <option>$0-$1,000</option>
                    <option>$1,000-$5,000</option>
                    <option>$5,000-$10,000</option>
                    <option>$10,000-$25,000</option>
                    <option>$25,000-$50,000</option>
                    <option>$50,000-$100,000</option>
                    <option>$100,000+</option>
                  </select>
                </div>
              </div>
              <h4>Do you have funding? <input type="checkbox" id="funding" data-toggle="toggle"></h4>
              <hr class="my-4">
                <center>
                   <button class="btn btn-lg" id="submit" type="button" style="width: 150px; height: 75px; font-size: 200%;" ><b>Submit</b></button>
                </center>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% include ../partials/footer %>
    <% include ../partials/socket-notification.ejs %>
    <script>
      var socket = io.connect();
      var android = false;
      var ios = false;
      var desktop = false;
      var webFront = false;
      var webBack = false;
      
      $("#submit").on('click', function () {
         submitProject();    
        });
      var Nation = '';
      const proxyurl = "https://cors-anywhere.herokuapp.com/";
          var url = 'http://api.db-ip.com/v2/32e2180846d01d7cd405b45da2699e4343dc56f3/'+userip;
          fetch(proxyurl + url) // https://cors-anywhere.herokuapp.com/https://example.com
          .then(response => response.text())
          .then(contents => setCountry(JSON.parse(contents)))
          .catch(() => console.log("Can’t access " + url + " response. Blocked by browser?"))
          function setCountry(data){
            Nation = data.countryName;
          }
                console.log(document.getElementById("national").value);
      function submitProject(){
        var e1 = document.getElementById("commitmentLevel");
        var commitmentLevel = e1.options[e1.selectedIndex].text;
        var e2 = document.getElementById("stage");
        var Stage = e2.options[e2.selectedIndex].text;
        var e3 = document.getElementById("budget");
        var Budget = e3.options[e3.selectedIndex].text;
        var country= '';
        if(document.getElementById("national").checked){
          country = Nation;
        }
        var hasFunding = false;
        if(document.getElementById("funding").checked){
          hasFunding = true;
        }
        var project = {
          name:document.getElementById("projectName").value,
          summary:document.getElementById("summary").value,
          commitment:commitmentLevel,
          platforms:{
                Android:android,
                iOS:ios,
                Desktop:desktop,
                WebFront:webFront,
                webBack:webBack
          },
          platformDetails:document.getElementById("platformDetails").value,
          stage:Stage,
          budget:Budget,
          funding:hasFunding,
          national:country,
          founder:$.cookie('username')

        };

        var isFormOk = true;
        if(project.name===''){
          isFormOk = false;
          document.getElementById("projectName").style.borderColor = "red";
        }else{
          document.getElementById("projectName").style,borderColor = "green";
        }
        if(project.summary===''){
          isFormOk = false;
          document.getElementById("summary").style.borderColor = "red";
        }else{
          document.getElementById("summary").style.borderColor = "green";
        }
        if(!(android || ios || desktop || webFront || webBack)){
          isFormOk = false;
          document.getElementById("platform").style.color = "red";
        }else{
          document.getElementById("platform").style.color = "green";
        }
        if(project.platformDetails===''){
          isFormOk = false;
          document.getElementById("platformDetails").style.borderColor = "red";
        }else{
          document.getElementById("platformDetails").style.borderColor = "green";
        }
        isFormOk = true;
        if(isFormOk)
          $.ajax({
                        data:project,
                        type: 'GET',
                        url: 'http://localhost:3000/projects/register',
                        success: function(res) {
                            console.log(res.status);
                            if(res.status==='succesfull')
                              window.location.href = '/projects';
                            else alert(res.status); 
                        }
                    });
          //socket.emit('register project', project);
      }
      (function() {
        document.getElementById("android").onclick = function() { 
            if(android == false){
              document.getElementById("android").style.backgroundColor = '#00A86B';
              android = true;
            }else{
               document.getElementById("android").style.backgroundColor =  '#343a40';
               android = false;
            }
        };
        document.getElementById("ios").onclick = function() { 
             if(ios == false){
              document.getElementById("ios").style.backgroundColor = '#00A86B';
              ios = true;
            }else{
               document.getElementById("ios").style.backgroundColor =  '#343a40';
               ios = false;
            }
        };
        document.getElementById("desktop").onclick = function() { 
             if(desktop == false){
              document.getElementById("desktop").style.backgroundColor = '#00A86B';
              desktop = true;
            }else{
               document.getElementById("desktop").style.backgroundColor =  '#343a40';
               desktop = false;
            }
        };
        document.getElementById("webFrontEnd").onclick = function() { 
            if(webFront == false){
              document.getElementById("webFrontEnd").style.backgroundColor = '#00A86B';
              webFront = true;
            }else{
               document.getElementById("webFrontEnd").style.backgroundColor =  '#343a40';
               webFront = false;
            }
        };
        document.getElementById("webBackEnd").onclick = function() { 
            if(webBack == false){
              document.getElementById("webBackEnd").style.backgroundColor = '#00A86B';
              webBack = true;
            }else{
               document.getElementById("webBackEnd").style.backgroundColor =  '#343a40';
               webBack = false;
            }
        };
      })();
    </script>

  </body>

</html>
