<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
    <link href="search-bar.css" rel="stylesheet">
    <style type="text/css">
      .jumbotron{
        box-shadow: 2px 8px 16px -8px black;
        padding: 3%;
      }
    </style>
  </head>

  <body>
    <% include ../partials/header %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="jumbotron" >
            <a class="btn btn-lg" href="/createProject" style="margin-right: 5%;" role="button">Create new Project</a>
            <a class="btn btn-lg" href="/createTeam" style="margin-left: 5%;" role="button">Create new Team</a>
            <hr class="my-2">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for projects/teams" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Search for</label>
                                    <select class="form-control" id="type">
                                        <option value="0" selected>Teams for Hackatons</option>
                                        <option value="1">Projects</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Author</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Tehnology used</label>
                                    <select class="form-control" id="tehnology">
                                        <option value="android" selected>Android</option>
                                        <option value="ios">iOS</option>
                                        <option value="desktop">Desktop</option>
                                        <option value="webFront">Web Front End</option>
                                        <option value="webBack">Web Back End</option>
                                    </select>
                                  </div>
                                  <button type="submit" class="btn" value="akfhvcs"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn"><i class="fas fa-search"></i></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% for(i in posts){ %>
        <div class="jumbotron">
          <h4 class="display-6"><b><%= posts[i].NAME %>
            <% if(posts[i].HACKATON){ %>
              -Hackaton
            <% }else{ %>
              -Team
            <% } %>
            </b></h4>
          <p class="lead"><%= posts[i].SUMMARY %></p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      <% } %>
    </div>

    <% include ../partials/footer %>
    <script>

      var socket = io.connect();
      $('#city').empty();
      
      
    </script>

  </body>

</html>
