<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
<% include ../partials/empty-header.ejs %>
<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="lead">You have been disconected. Thank you for using Team Finder</p>
            <p>You will be redirected in 5 secconds...</p>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

<script>
    $.removeCookie('username');
    $.removeCookie('token');
    $.removeCookie('notifications');
    $.removeCookie('newNotif');
    setTimeout(function () {
        window.location.href = '/login';
    }, <%-time%>);
</script>
</body>

</html>
