<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>

    <style type="text/css">
        span.tags {
            background: #ffffff;
            border-radius: 2px;
            color: #000;
            font-weight: bold;
            padding: 2px 4px;
        }

        span.tags.teal {
            background: #1abc9c;
            color: #f5f5f5
        }
    </style>
</head>

<body>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="card" style="margin-top: 0.3rem;padding:0.7rem">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchTerm" placeholder="Search"/>
                            <div class="input-group-addon">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn" id="searchBtn"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mt-1 mt-md-0">
                        <a href="/advanced-search" class="btn btn-block" style="border-radius: .125rem;">Advanced search<i class="ml-2 fas fa-search"></i></a>
                    </div>
                    <div class="col-12 col-md-4 mt-1 mt-md-0">
                        <a href="/projects/create" class="btn btn-block" style="border-radius: .125rem;">Create project<i class="ml-2 fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% for(i in posts){ %>
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="card-title display-6 font-weight-bold"> <%= posts[i].NAME %></h4>
                        </div>
                        <div class="col-6">
                            <% for (j in JSON.parse(posts[i].PLATFORMS)) {%>
                                <span style="float: right" class="tags teal ml-2 h5"><%= JSON.parse(posts[i].PLATFORMS).reverse()[j] %></span>
                            <%}%>
                        </div>
                    </div>
                    <hr class="my-4">
                    <h5><%= posts[i].SUMMARY %></h5>
                    <a href="/projects/<%= posts[i].BASE64 %>" style="color: #00e500" class="d-flex flex-row-reverse p-2">
                        <p class="waves-effect waves-light px-4 py-3 z-depth-1-half" style="background-color: #343a40;">
                            Learn more<i class="fas fa-angle-double-right ml-2"></i></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

<% include ../partials/footer %>
<% include ../partials/socket-notification.ejs %>

<script>
    $('#searchTerm').keypress(function (e) {
        if (e.which == 13) {
            window.location.href = '/projects/search/' + $("input").val();
        }
    });
    $('#searchBtn').click(function () {
        window.location.href = '/projects/search/' + $("input").val();
    });
</script>

</body>

</html>
