<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/header %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Projects Page</h1>
          <p class="lead">This is where you can see all your past and present projects</p>
          <ul class="list-unstyled">
            <p id="time"></p>
          </ul>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
    
    <script>
      jQuery(function($){
        var socket = io.connect();

      });
    </script>

  </body>

</html>
