<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link href="/vendor/bootstrap-tagsinput/tagsinput.css" rel="stylesheet"/>
</head>

<body>
<% include ../partials/login-register-header %>
<div class="container">
    <div class="card card-container">
        <h4 style="text-align: center; margin-bottom: 15px;"><b>Register</b></h4>
        <form class="form-signin" id="form">
            <div class="md-form">
                <input type="email" id="email" name="email" class="form-control" required>
                <label for="email">Email</label>
            </div>
            <div class="md-form">
                <input type="password" id="password" name="password" class="form-control" required>
                <label for="password">Password</label>
            </div>
            <div class="md-form">
                <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" required>
                <label for="passwordCheck">Check Password</label>
            </div>
            <div class="md-form">
                <input type="text" id="fullName" name="fullName" class="form-control" required>
                <label for="fullName">Full Name</label>
            </div>
            <div class="md-form">
                <i class="fab fa-github prefix"></i>
                <input type="url" id="github" name="github" class="form-control">
                <label for="github">GitHub Link</label>
            </div>
            <div class="md-form">
                <i class="fab fa-linkedin prefix"></i>
                <input type="url" id="linkedin" name="linkedin" class="form-control">
                <label for="linkedin">LinkedIn Link</label>
            </div>
            <div class="md-form">
                <label for="skillsInput">Skills</label>
                <input type="text" id="skillsInput" class="form-control" data-role="tagsinput">
            </div>
            <button class="btn btn-lg btn-block btn-register" type="button" id="submit">Register <i
                        class="fas fa-user"></i></button>
        </form>
        <div class="pt-1">
            <small class="text-center text-muted">Already have an account? <a href="/login"
                                                                              class="font-weight-bold link-unstyled">Log
                    In</a></small>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script src="/vendor/bootstrap-tagsinput/tagsinput.js"></script>

<script>

    $("#submit").on('click', function () {
        console.log("registering");
        if (!registerValidator.form())
            return;
        console.log("seccond");
        let user = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
            name: document.getElementById('fullName').value,
            linkedin: document.getElementById('linkedin').value,
            github: document.getElementById('github').value,
            skills: $("#skillsInput").tagsinput('items')
        }
        $.ajax({
            data: user,
            type: 'GET',
            url: 'http://localhost:3000/register/auth',
            success: function (res) {
                console.log(res.status);
                if (res.status == "succesfull") {
                    window.location.href = '/register/confirmed';
                } else {
                    document.getElementById("email").style.borderColor = "red";
                }
            }
        });
    });

    let registerValidator = $("#form").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password: {
                required: true
            },
            passwordCheck: {
                required: true,
            },
            fullName: {
                required: true,
            },
            github: {
                required: false,
                url: true
            },
            linkedin: {
                required: false,
                url: true
            }
        },
        messages: {
            email: {
                required: "Email is required",
                email: "Email must be a valid email"
            },
            password: {
                required: "Password is required"
            },
            passwordCheck: {
                required: "Check Password is required",
            },
            fullName: {
                required: "Full Name is required",
            },
            github: {
                url: "GitHub Link must be an URL"
            },
            linkedin: {
                url: "LinkedIn Link must be an URL"
            }
        }
    });

    function auth() {
        let user = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
            name: document.getElementById('fullName').value,
            linkedin: document.getElementById('linkedin').value,
            github: document.getElementById('github').value,
            skills: $("#skillsInput").tagsinput('items')
        }
        let ok = true;
        if (user.email === '') {
            document.getElementById("email").style.borderColor = "red";
            ok = false;
        } else {
            document.getElementById("email").style.borderColor = "green";
        }
        if (user.password === '') {
            document.getElementById("password").style.borderColor = "red";
            ok = false;
        } else {
            document.getElementById("password").style.borderColor = "green";
        }
        if (user.name === '') {
            document.getElementById("fullName").style.borderColor = "red";
            ok = false;
        } else {
            document.getElementById("fullName").style.borderColor = "green";
        }
        if (user.password !== document.getElementById('passwordCheck').value || user.password === '') {
            document.getElementById("password").style.borderColor = "red";
            document.getElementById("passwordCheck").style.borderColor = "red";
            ok = false;
        } else {
            document.getElementById("password").style.borderColor = "green";
            document.getElementById("passwordCheck").style.borderColor = "green";
        }
        if (ok == true) {
            $.ajax({
                data: user,
                type: 'GET',
                url: 'http://localhost:3000/register/auth',
                success: function (res) {
                    console.log(res.status);
                    if (res.status == "succesfull") {
                        window.location.href = '/register/confirmed';
                    } else {
                        document.getElementById("email").style.borderColor = "red";
                        // /alert(res.status);
                    }
                }
            });
            //socket.emit('auth register', user);
        }
    }
</script>
</body>

</html>