<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<% include ../partials/login-register-header %>

<div class="container">
    <div class="row justify-content-center pt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: center; margin-bottom: 15px;"><b>Reset password</b></h4>
                    <form id="reset_password_form">
                        <div class="form-group">
                            <label for="email">Enter a valid, registered email</label>
                            <input type="email" id="email" class="form-control" required>
                        </div>
                        <button class="btn btn-lg btn-block btn-signin" type="button" id="submit">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
<script>
    let user = $.cookie('username');
    if (user) {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/dashboard">Search <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" href="/projects">Projects <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/teams">Teams <i class="fas fa-user"></i></a></li><li class="nav-item"><a class="nav-link" href="/profile">Profile <i class="fas fa-cogs"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>');
    } else {
        $('#list').append('<li class="nav-item"><a class="nav-link" href="/dashboard">Search <i class="fas fa-home"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/register">Sign Up <i class="fas fa-user-plus"></i></a></li><li class="nav-item"><a class="nav-link" id="logout" href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>');
    }
</script>
<script>

    $('#submit').on('click', () => {
        let email = $('#email').val();
        if (email == "" || email == null || !validateEmail(email)) return;
        $.ajax({
            data: {
                email: email
            },
            type: 'POST',
            url: '/reset-password/reset',
            success: function (res) {
                window.location.href = "/reset-password/check-email";
            }
        });
    });

    $("#reset_password_form").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#submit").click();
        }
    });

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>
</body>

</html>
